<div class="row">
  <div class="col-12 center">
    <footer>
      <ul>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/help">Help</a></li>
      </ul>
    </footer>
  </div>
</div>
