<html>
  <head>
    <title>Figlet Bot</title>
    <meta id="viewport" name="viewport" content ="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link href='https://fonts.googleapis.com/css?family=Unica+One|Lato:400,100,700' rel='stylesheet' type='text/css'>
    <style>
      .flexbox-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      .logo-container {
        margin-top: 30px;
        text-align: center;
      }

      .logo-container img {
        width: 80%;
        max-width: 700px;
      }
    </style>
  </head>
  <body>
    <div class="logo-container">
      <img src="images/figlet_logo.png">
    </div>
    <div class="flexbox-container">
      <a href="https://slack.com/oauth/authorize?client_id=<%= config[:slack_client_id] %>&scope=commands">
        <img alt="Add to Slack" height="40" width="139"
             src="https://platform.slack-edge.com/img/add_to_slack.png"
             srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
      </a>
    </div>
  </body>
</html>
