<div class="row use-it">
  <div class="col-12">
    <h3><%= headline %></h3>
    <p>Using Figlet is a piece of cake. All you need to do is type
    the following command into the message field and hit Enter:</p>
    <p>
      <span class="code">/figlet your text</span>
    </p>
    <p>For example, <span class="code">/figlet go</span> will post the
    following to the channel where you triggered it:</p>
    <img src="images/default.png" alt="figlet default" />
    <p>In case you find the default emoji boring, just provide your own:</p>
    <p>
      <span class="code">/figlet your text emoji1 emoji2</span>
    </p>
    <p>
      <span class="code">emoji1</span> gets used for the text body, while
      <span class="code">emoji2</span> is applied to the background:
    </p>
    <img src="images/figlet_demo.gif" alt="Figlet demo" />
    <p>Go wild.</p>
    <p>The only thing to keep in mind is that long text will lead to
    line wrapping which breaks the emoji art until you resize your Slack app.
    In general, 2 letters display just fine on the mobile app. I wouldn't recommend
    anything longer than 7 characters when using the desktop Slack app.</p>
  </div>
</div>

