<html>
  <head>
    <title>Yay!</title>
    <meta charset='utf-8' />
    <meta id="viewport" name="viewport" content ="width=device-width, initial-scale=1.0, user-scalable=no" />
    <%= erb :styles %>
  </head>
  <body>
    <div class="logo-container">
      <img src="images/epic.gif">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Figlet is now enabled for <%= team_name %>!</h2>
          <p>Some normal text goes here</p>
        </div>
      </div>
    </div>
  </body>
</html>
